.mainCantainer {
  /* border: solid red; */
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-bottom: 10px solid #2f2f2f;
}

.childCantainer {
  border: solid;
  height: 70vh;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  /* color: white; */
}

.left {
  height: 60vh;
  width: 50%;
  /* border: solid purple; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 6rem;
  padding-bottom: 3rem;
 
}



.right {
  height: 60vh;
  width: 50%;
  /* border: solid green; */
}

.video {
  height: 20rem;
  width: 70.8%;
  margin-inline-start: 4rem;
  margin-block: 2.5rem;
 /* border: solid; */
  border-radius: 15px;
}

.para{
    font-size: 23px;
    margin-top: 20px;
    /* color: white; */
    margin-right: 10px;
    font-weight: bolder;
    color: white;
}
.heading{
    font-size: 55px;
    color: white;
}
