*{
    padding: 0;
    margin: 0;
}



.container{
    height: 135vh;
    width: 100%;
    /* border: 2 px solid blue; */
    background-color: black;
    border-bottom: 10px solid #2f2f2f;
}

.heading{
    text-align: center;
    /* margin-top: 50px; */
    font-size: 52px;
    color: white;
}

.main{
    height:40rem;
    width: 72%;
    /* border: 2px solid blue; */
    margin-left: 12rem;
    margin-top: 20px;
}
.list{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid green; */
    margin-top: 10px;
    height: 90px;
    background-color: #2f2f2f;
}
.l1{
    font-size: 25px;
    color: white;
    margin-left: 20px;
    margin-top: 30px;
}
.l2{
    font-size: 65px;
    color: white;
    margin-right: ;
}

.para{
    color: white;
    text-align: center;
    font-size: 23px;
    font-weight: lighter;

}
.input{
    margin-left: 22rem;
    margin-top: 25px;
    padding: 20px;
    width: 390px;
    border-radius: 5px;
    border: 1.5px solid #2f2f2f;
    background-color: transparent;
    font-size: 17px;
}
.butn{ 
    /* margin-left: 22rem; */
    /* margin-top: 25px; */
    padding: 20px;
    width: 190px;
    font-size: 16px;
    margin-left: 8px;
    
}