*{
    padding: 0;
    margin: 0;
}



.container{
    height: 32rem;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-bottom: 10px solid #2f2f2f;
    
}
.left{
    height: 25rem;
    width: 35rem;
    margin-top: 40px;

}

.right{
    background-image: url(image/tv-2.png);
    height: 30rem;
    width: 40rem;
    margin-top: 30px;
    margin-right: 140px;
}
.heading{
    margin-left: 5rem;
    margin-top: 120px;
    font-size: 48px;
    color: white;
}
.para{
    margin-left: 5rem;
    margin-top: 20px;
    font-size: 21px;
    font-weight: bolder;
    color: white;   
}

.video{
    height:15rem;
    width: 18.5rem;
    margin-left: 135px;
    margin-top: 35px;
}   