*{
    padding: 0;
    margin: 0;
}



.container{
    height: 27rem;
    width: 100%;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-around;
    background-color: black;
    border-bottom: 10px solid #2f2f2f;
    
}
.left{
    height: 25rem;
    width: 35rem;
    margin-top: 40px;

}

.right{
    height: 25rem;
    width: 35rem;
    margin-top: 30px;
}
.heading{
    margin-left: 10rem;
    margin-top: 120px;
    font-size: 48px;
    color: white;
}
.para{
    margin-left: 10rem;
    margin-top: 20px;
    font-size: 21px;
    font-weight: bolder;
    color: white;   
}

.video{
    height: 20rem;
    width: 20rem;
    margin-left: 40px;
}